<div class="container" *ngIf="isNew == false" >
  <form>
    <label>
      Jahr:
      <input name="annualPaymentYear" type="number" [(ngModel)]="annualPayment.annualPaymentYear"><br>
    </label><br>
    <label>
      Beitrag:
      <input name="annualPaymentFee" type="number" [(ngModel)]="annualPayment.annualPaymentFee"><br>
    </label><br>
    <label>
      Bezahlt:
      <input name="annualPaymentPaidFee" type="number" [(ngModel)]="annualPayment.annualPaymentPaidFee"><br>
    </label><br>
    <button routerLink="/club-member-accounting/{{annualPayment.clubMemberId}}" (click)="updateAnnualPayment(annualPayment)">Speichern</button>
    <button *ngIf="isNew == false" routerLink="/annual-payments" (click)="deleteAnnualPayment()">Zahlung Löschen</button>
    <button routerLink="/club-member-accounting/{{annualPayment.clubMemberId}}" type="button" (click)="onCancel()">Abbrechen</button>
  </form>
</div>

<div class="container" *ngIf="isNew == true">
  <h1> Neue Zahlung</h1>
  <form>
    <label>
      Jahr:
      <input name="annualPaymentYear" type="number" [(ngModel)]="annualPayment.annualPaymentYear"><br>
    </label><br>
    <label>
      Beitrag:
      <input name="annualPaymentFee" type="number" [(ngModel)]="annualPayment.annualPaymentFee"><br>
    </label><br>
    <label>
      Bezahlt:
      <input name="annualPaymentPaidFee" type="number" [(ngModel)]="annualPayment.annualPaymentPaidFee"><br>
    </label><br>
    <button routerLink="/annual-payments/club-member" (click)="updateAnnualPayment(annualPayment)">Speichern</button>
    <button routerLink="/club-member-accounting/" type="button" (click)="onCancel()">Abbrechen</button>
  </form>
</div>
