<h3> Mitgliederliste (Club Member List Component) </h3>

<table border="1">
  <tr>
    <th>Mitgliedsnumer</th>
    <th>Name</th>
    <th>Adresse</th>
    <th>Geburtstag</th>
    <th>Datum Eintritt</th>
    <th>Datum Kündigung</th>
    <th>Datum Austritt</th>
    <th>Mitgliedsart</th>
    <th>aktueller Jahresbeitrag</th>


  </tr>
  <tr *ngFor="let clubMember of clubMembers" (dblclick)="onSelect(clubMember)">
    <td>{{ clubMember.clubMemberId}}</td>
    <td>{{ clubMember.clubMemberName}}</td>
    <td>{{ clubMember.clubMemberAdress}}</td>
    <td>{{ clubMember.clubMemberBirthday}}</td>
    <td>{{ clubMember.entranceDate}}</td>
    <td>{{ clubMember.terminationDate}}</td>
    <td>{{ clubMember.exitDate}}</td>
    <td>{{ clubMember.membership_type}}</td>
    <td>{{ clubMember.annualFee}}</td>
  </tr>
</table>
