<div class="container">

  <h3>Mitgliederliste</h3>


  <input type="text" class="form-control" placeholder="Suche hier" [(ngModel)]="term">

  <br>


  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Mitgliedsnummer</th>
      <th>Name</th>
      <th>Adresse</th>
      <th>Geburtstag</th>
      <th>Datum Eintritt</th>
      <th>Datum Kündigung</th>
      <th>Datum Austritt</th>
      <th>Mitgliedsart</th>
      <th>aktueller Jahresbeitrag</th>
      <th>Mitglied bearbeiten</th>
      <th>zur Buchhaltungsübersicht</th>

    </tr>
    </thead>
    <tr *ngFor="let clubMember of clubMembers | filter:term">
      <td>{{ clubMember.clubMemberId}}</td>
      <td>{{ clubMember.clubMemberName}}</td>
      <td>{{ clubMember.clubMemberAdress}}</td>
      <td>{{ clubMember.clubMemberBirthday | date: 'dd.MM.yyyy'}}</td>
      <td>{{ clubMember.entranceDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{ clubMember.terminationDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{ clubMember.exitDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{ clubMember.membership_type}}</td>
      <td>{{ clubMember.annualFee}}</td>
      <td> <a routerLink="/club-member-form/{{clubMember.clubMemberId}}"  class="btn btn-primary" ></a> </td>
      <td> <a routerLink="/club-member-accounting/{{clubMember.clubMemberId}}"  class="btn btn-primary" ></a> </td>
      <!--<td> <a [routerLink]="[ '/club-member-form/{{clubMember.clubMemberId}}' , clubMember]" routerLinkActive="Active" ,  class="btn btn-primary" ></a> </td>-->

    </tr>
  </table>
</div>
