<div class="container" *ngIf="isNew == false">
  <form>
    <label>
      Mitgliedsnummer: {{ clubMember.clubMemberId}}<br>
    </label>
    <label>
      Name:
      <input name="clubMemberName" type="string" [(ngModel)]="clubMember.clubMemberName"><br>
    </label>
    <label>
      Adresse:
      <input name="clubMemberAdress" type="string" [(ngModel)]="clubMember.clubMemberAdress"><br>
    </label>
    <label>
      Geburtstag: {{clubMember.clubMemberBirthday | date: 'dd.MM.yyyy'}}<br>
    </label>
    <label>
      Datum Eintritt: {{clubMember.entranceDate | date: 'dd.MM.yyyy'}}<br>
    </label>
    <label>
      Datum Kündigung:
      {{clubMember.exitDate | date: 'dd.MM.yyyy'}}<br>
    </label>
    <label>
      Datum Austritt:
      {{clubMember.terminationDate | date: 'dd.MM.yyyy'}}<br>
    </label>
    <label>
      Mitgliedsart:

      <select [(ngModel)]="clubMember.membership_type" name="membership_Type" id="dropDownMenuMemberType"
              class="form-control">
        <option *ngFor="let type of keys(membershipTypeEnum)" [(ngValue)]="membershipTypeEnum[type]">{{type}}</option>
      </select>
      <br>
    </label>
    <div *ngIf="clubMember.membership_type=='Ermaessigt'">23€
    </div>
    <div *ngIf="clubMember.membership_type=='Vollmitglied'">25€ <!--[(ngModel)]="clubMember.annualFee===44"-->
    </div>
    <div *ngIf="clubMember.membership_type=='Foerdermitglied'">10€
    </div>
    <div *ngIf="clubMember.membership_type=='Jugendlich'">15€
    </div>
    <div *ngIf="clubMember.membership_type=='Familienmitglied'">55€
    </div>
    <label>
      Aktueller Jahresbeitrag:
      {{clubMember.annualFee}} €<br>
    </label>
    <button routerLink="/club-member-list" (click)="updateClubMember(clubMember)">Speichern</button>
    <button *ngIf="isNew == false" routerLink="/club-member-list" (click)="deleteClubMember()">Löschen</button>
    <button routerLink="/club-member-list" type="button" (click)="onCancel()">Abbrechen</button>
  </form>
</div>

<div *ngIf="isNew == true">
  <h1> Neues Mitglied</h1>
  <form>
    <label>
    </label>
    <label>
      Name:
      <input name="clubMemberName" type="string" [(ngModel)]="clubMember.clubMemberName"><br>
    </label>
    <label>
      Adresse:
      <input name="clubMemberAdress" type="string" [(ngModel)]="clubMember.clubMemberAdress"><br>
    </label>
    <label>
      Geburtstag: <input name="clubMemberBirthday " type="date" required><br>
    </label>
    <label>
      Datum Eintritt: <input type="date"><br>
    </label>
    <label>
      IBAN:
      <input name="iban" type="string" [(ngModel)]="clubMember.iban"><br>
    </label>
    <label>
      Mitgliedsart:

      <select [(ngModel)]="clubMember.membership_type" name="membership_Type" id="dropDownMenuMemberType"
              class="form-control">
        <option *ngFor="let type of keys(membershipTypeEnum)" [(ngValue)]="membershipTypeEnum[type]">{{type}}</option>
      </select>
      <br>
    </label>
    <div *ngIf="clubMember.membership_type=='Ermaessigt'">Aktueller Jahresbeitrag: 23€
    </div>
    <div *ngIf="clubMember.membership_type=='Vollmitglied'">Aktueller Jahresbeitrag: 25€ <!--[(ngModel)]="clubMember.annualFee===44"-->
    </div>
    <div *ngIf="clubMember.membership_type=='Foerdermitglied'">Aktueller Jahresbeitrag: 10€
    </div>
    <div *ngIf="clubMember.membership_type=='Jugendlich'">Aktueller Jahresbeitrag: 15€
    </div>
    <div *ngIf="clubMember.membership_type=='Familienmitglied'">Aktueller Jahresbeitrag: 55 €
    </div>
    <button routerLink="/club-member-list" (click)="updateClubMember(clubMember)">Speichern</button>
    <button routerLink="/club-member-list" type="button" (click)="onCancel()">Abbrechen</button>
    <button *ngIf="isNew == false" routerLink="/club-member-list" (click)="deleteClubMember()">Löschen</button>
  </form>
</div>
