<div class="container" *ngIf="clubMember">

  <h1>Buchhaltung</h1>

  <button onclick="window.print()" id="printButton" class="btn btn-default">Drucken</button>


  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Mitgliedsnummer</th>
      <th>Name</th>
      <th>Datum Eintritt</th>
      <th>Kontoverbindung</th>
      <th>Mitgliedsart</th>
      <th>Aktueller Jahresbeitrag</th>
    </tr>
    </thead>
      <td>{{ clubMember.clubMemberId}}</td>
      <td>{{ clubMember.clubMemberName}}</td>
      <td>{{ clubMember.entranceDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{ clubMember.iban}}</td>
      <td>{{ clubMember.membership_type}}</td>
      <td>{{ clubMember.annualFee}}</td>
  </table>


  <input type="text" id="searchOperation" class="form-control" placeholder="Suche hier" [(ngModel)]="term">

  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Jahr</th> <!-- Muss noch ein Jahr rein-->
      <th>Mitgliedsart</th>
      <th>Beitrag</th>
      <th>Bezahlt</th>
    </tr>
    </thead>
    <!--<tr *ngFor="let clubMember of clubMembers | filter:term">
      <td>Jahr-Fortlaufend</td>
      <td>Bezahlt-Beitrag</td>
      <td>Betrag-Beitrag</td>
    </tr>-->
  </table>
</div>

<!-- <td> <a routerLink="/club-member-form/{{clubMember.clubMemberId}}"  class="btn btn-primary" ></a> </td> -->
